*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
}

h1{
    margin:auto auto;
    text-align: center;
}

.navbar{
    background-color:brown;
    padding: 10px;
    border-bottom-style:groove;
    border-bottom-width: 10px;
    border-bottom-color:cadetblue;
    color: white;
}

.footer{
    background-color: #000;
    color: #fff;
    padding: 100px;
    text-align: center;
}