*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1{
    margin:auto auto;
    text-align: center;
}

.navbar{
    background-color:brown;
    padding: 10px;
    border-bottom-style:groove;
    border-bottom-width: 10px;
    border-bottom-color:rgb(113, 27, 27);
    color: white;
}

.content{
    background-color: rgb(223, 223, 223);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
}

.footer{
    background-color: #000;
    color: #fff;
    padding: 100px;
    padding-top: 200px;
    text-align: center;
    min-height: 300px;
}